label{
    display: block;
    margin-left: 40;
}
fieldset{
   width: 350px;
   border-radius: 20px;
   background-color: rgba(26, 157, 142, 0.414) ;
   backdrop-filter:blur(10px);
   border: none;
   height: 450px;
   padding: 12px 50px 12px 58px;
   filter:drop-shadow(1px 1px 20px rgb(17, 209, 103))
}
fieldset h1{
    text-align: center;
    margin-right: 20px; 
    filter: drop-shadow(1px 3px 2px white); 
}
 header h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    filter: drop-shadow(1px 1px 2px white);
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 8rem;
}


input[type="text"]
,input[type="password"]{
    display:block;
    border-radius: 12px;
    width: 90%;
    margin: 8px 0 40px 0;
    padding:20px 5px 20px 20px;
    font-size: 12px;
    border: none;
    
}
#sub{  
      margin-left: 140px;
      margin-top: 80px;
    
}
button[type="submit"]{
    
    color:black;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
    border-width: 4px;
    width: 50%;
    height:40px;
    margin-left: 80px;
}
body{
   
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5b48c29f9f8770367788f244/1611582700101-JMIIX69SHSXK1X96XE91/ke17ZwdGBToddI8pDm48kHKmDLrMZO7HHpcyjMqbzOMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcBVek0a0L5ZzZO5sIOvWwrqKYA-dXl4sYwgdPtOa0B174TByWOce_SwawEQNsQ9Qi/ecommerce+marketing+strategy");
    background-size: 100%; 
    background-repeat: no-repeat; 
}
  
button:hover {
    color: black;
    filter:drop-shadow(5px 12px 40px rgb(246, 255, 0));
    animation: float 1s infinite;
    background-color: rgba(236, 71, 71, 0.785);
    font-size:1.7rem;
  }
  
  button:active {
    color: brown;
    
  }
@keyframes float {
    0%{opacity: 0;}
    50%{opacity: 5;}
    100%{opacity: 0;}
}